a {
    color: #000;
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    transition: all 0.15s ease 0s;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #2196f3;
    text-decoration: none;
}
.mg-tp-20{margin-top:20px}
.mg-bt-20{margin-bottom:20px}
.pd-haut-60{padding: 60px 0px}
.flex{
    display: flex;
    flex-direction: column;
}
.opacity-50{
    opacity: 0.5;
}
.blur-50{
    filter: blur(0.5rem);
}
.btn-big{
    margin: 35px 0 14px;
    width: 170px;
    height: 44px;
    font-size: 16px;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    padding: 15px 10px;
    width: 250px;
    background: #41b883;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    line-height: 13px;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    border: 1px solid #037dd6;
    background-color: #037dd6;
}
.btn-rounded {
    border-radius: 100px;
    will-change: box-shadow;
    transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;
}
.txt-16,.txt-16 a{font-size: 16px}
.txt-error{color: #f44336}
.txt-bold{font-weight: bold}
.bg-grey-light{background-color: rgb(233, 235, 238)}
.header{padding: 24px 20px}
.header h2{margin:0px}
h1{
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgb(168, 168, 168);
    text-align: left;
    font-size: 30px;
    color: #333;
}
h2{
    font-size: 24px;
    line-height: 36px;
    color: #333;
    text-align: left;
    margin-bottom: 1rem;
}
.bt-back{
    float: right;
}
input[type=password], input[type=text],textarea{
    border-radius: 15px;
    background-color: #f5f8fa;
    width: 90%;
    max-width: 500px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    padding: 0 15px;
}
textarea{
    height: 150px;
}
input[type=submit]{
    height: 52px;
    padding: 8px 32px;
    background: rgb(3, 125, 214);
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease 0s;
    min-height: 52px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 16px;
    line-height: 1.3;
    color: #FFF;
    border: 1px solid #cbd6e2;
}

