{{ define "contact" }}<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
<div class="container-fluid">
    {{ template "header" . }}
    <main>
        {{$title := "Contact us"}}
        {{ template "title" $title}}
        <section class="container">
            {{if .Success}}
            <p>Your message has been sent!</p>
            {{else}}
            <form action="/contact" method="POST">
                <label>Name:</label><br />
                <input type="text" name="name"><br />
                <label>Email:</label><br />
                <input type="text" name="email"><br />
                <label>Subject:</label><br />
                <input type="text" name="subject"><br />
                <label>Message:</label><br />
                <textarea name="message"></textarea><br /><br />
                <input type="submit">
            </form>
            {{end}}
        </section>
    </main>
    {{ template "footer" . }}
</div>
</body>
</html>{{ end }}
