{{ define "home" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
  <div class="container-fluid">
    {{ template "header" . }}

    <main>
    <section>
      <header>
        <h1>The decentralized web awaits you</h1>
      </header>
    </section>
    <section>
      <h4>No, I already have a mnemonic phrase</h4>
      <p>Import your existing wallet using a Secret Recovery Phrase</p>
      <p><a href="/login" title="Log in to your altcoin blockchain account">Login</a>
      </p>
      <h4>I'm new, let's get to the configuration!</h4>
      <p>This will create a new wallet and a new mnemonic phrase</p>
      <p><a href="/inscription" title="Create your new altcoin blockchain account">New account</a></p>
    </section>
  </main>
    {{ template "footer" }}
  </div>
  </body>
</html>{{ end }}
