{{ define "login" }}<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
<div class="container-fluid">
  {{ template "header" . }}
    <main>
      <section>
        <header>
          <h1>Login</h1>
        </header>
        <a href="/" title="go back to homepage">&lt; Back</a>
      </section>
      <section>
        <p>Restaurer votre compte avec une phrase Seed.</p>
        <p>Saisissez votre phrase secrète de 12 ou 24 mots pour restaurer votre coffre-fort.</p>
        <div class="todoapp">
          <textarea class="new-todo import-account__secret-phrase" autofocus autocomplete="off" placeholder="Séparez chaque mot avec un espace" v-model="newTodo" @keyup.enter="addTodo"></textarea>
          <div>${ errorTodo }</div>
          <button class="button btn--first-time first-time-flow__button" id="btn-restaurer" @click="addTodo()" >Restaurer</button>
        </div>
      </section>
    </main>
{{ template "footer" . }}
</div>
</body>
</html>{{ end }}