{{ define "footer" }}
<section class="bg-grey-light row">
    <footer class="container flex pd-haut-60">
        <div class="row">
            <p>Blockchain-altcoin</p>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <h5>LEARN MORE</h5>
                <p><a href="/about " title="About-us">About</a></p>
            </div>
            <div class="col-xs-3">
                <h5>GET INVOLVED</h5>
                <p><a href="https://github.com/ariden83/blockchain " title="Page github" target="_blank">Github</a></p>
                <p><a href="https://gitcoin.co/ariden83 " title="Page gitcoin" target="_blank">Gitcoin</a></p>
            </div>
            <div class="col-xs-3">
                <h5>CONNECT</h5>
                <p><a href="/faq" title="FAQs">FAQs</a></p>
            </div>
            <div class="col-xs-3">
                <h5>LEGAL</h5>
                <p><a href="/privacy-policy" title="Access to privacy policy">Privacy policy</a></p>
                <p><a href="/terms-of-service" title="Access to terms of service">Terms of services</a></p>
                <p><a href="/sitemap" title="Access to sitemaps">Sitemaps</a></p>
            </div>
        </div>
        <div class="row">
            <p>&copy; 2021 blockchain-altcoin</p>
        </div>
    </footer>
</section>
{{ end }}