{{ define "footer" }}
<section>
    <footer>
        <p>&copy; 2021 blockchain coin</p>
        <p><a href="/privacy-policy" title="Access to privacy policy">Privacy policy</a></p>
        <p><a href="/terms-of-service" title="Access to terms of service">Terms of services</a></p>
    </footer>
</section>
{{ end }}