.clickable {
    cursor: pointer;
}
.hide-on-large {
    display: none;
}
.progress__wrapper {
    display: flex;
    flexWrap: wrap;
    justifyContent: flex-start;
    margin: 1rem 0;
}
.progress__block {
    display: flex;
    alignItems: center;
}
.progress__bridge {
    backgroundColor: grey;
    height: 2px;
    flexGrow: 1;
    width: 20px;
}
.progress__bubble {
    margin: 0;
    padding: 0;
    lineHeight: 30px;
    display: flex;
    justifyContent: center;
    alignItems: center;
    height: 30px;
    width: 30px;
    borderRadius: 100%;
    backgroundColor: transparent;
    border: 2px grey solid;
    textAlign: center;
}
.progress__label {
    margin: 0 0.8rem;
}
@media (max-width: 768px) {
    .progress__wrapper {
        justify-content: space-around;
    }
    .progress__label {
        display: none;
    }
    .progress__bubble {
        margin: 0;
    }
    .progress__block:not(:last-of-type) {
        flex-grow: 1;
        margin-right: 0;
    }
    .display-on-small {
        display: inline-block;
    }
    .progress__block {
        margin: 0;
    }
}
